.Postlist {
  display: flex;
}

.User {
  width: 30%;
  height: 20px;
}

.Post {
  background-color: bluered;
  width: 75%;
  margin-left: 20px;
  padding: 10px;
  border: solid;
  margin: 20px;
}
.Postcard {
  background-color: bluered;
  width: 80%;
  padding: 10px;
  border: solid;
  margin: 10px;
}

.userListButton {
  background-color: crimson;
  height: 40px;
  width: 100%;
  margin: 10px;
  border-style: double;
  border-radius: 15px;
}

.button-Username {
  margin: 5px;
  width: 120px;
  padding: 10px;
  border-radius: 5px;
  background-color: rgb(21, 155, 155);
}

.logout {
  margin: 5px;
  width: 80px;

  border-radius: 5px;
  background-color: rgb(100, 100, 219);
  height: 30px;
}

.button-recent {
  margin: 5px;
  width: 120px;
  padding: 10px;
  border-radius: 5px;
  background-color: rgb(21, 155, 155);
}
.button-oldest {
  margin: 5px;
  width: 120px;
  padding: 10px;
  border-radius: 5px;
  background-color: rgb(21, 155, 155);
}

.input-search {
  padding: 10px;
  width: 50%;
  margin: 10px;
  border: 2px solid black;
}
